header {
	border-bottom: 1px solid black;
	width: 111%;
	margin-left: -1%;
	padding-left: 20%;
}

.success {
 	border: thin solid green;
	border-radius: 7px;
	background: lightgreen;
	padding: 2%;
	width: 50%;
}

form div {
	display: flex;
	flex-direction: column;
	margin: 2% 0;
}

label {
	font-weight: bold;
}

#body {
	margin: auto;
	width: 50%;
}

input[type=text], input[type=date], input[type=number] {
	width: 50%;
	height: 20px;
}

input[type=submit] {
	margin-top: 7%;
	width: 20%;
}

#submit-area {
	display: flex;
	flex-direction: row;

}

footer {
	
}
